[2015-11-22 12:38] Anachron opened #1 "Add your requests!"
If you are missing any blocks from my collection, feel free to make a request here.

[2015-11-22 14:02] Anachron opened #2 "Future pull-request to i3blocks-contrib"
Rspect rules stated in https://github.com/vivien/i3blocks-contrib/blob/master/CONTRIBUTING.md

[2015-11-22 19:01] Anachron opened #3 "Weather won't display anything when temperature is below zero"

[2015-11-22 19:09] Anachron commented on #3
Should be fixed now.

[2015-11-22 19:09] #3 closed, assigned to nobody

[2015-11-22 19:15] Anachron commented on #1
From myself:
- [x] Temperature indicator (`lm-sensors`)
- [x] VPN indixcator (`-a /var/run/vpnc.pid`)
- [x] Program status indicator (for webserver, databases & more!) (`ps -e | grep`)
- [ ] External drive/device (harddrive, phones, etc) (`lsblk`)
- [x] IP Address (`ip route get 1 | awk '{print $NF;exit}'`)
- [x] Bluetooth
- [x] Launcher (Rofi/DMenu)
- [x] Mails
- [ ] Indicator-Bar (Space-saving d

[2015-11-23 11:57] Anachron opened #4 "Make blocks interactive"
- Audio should mute/increase/decrease volume
- Brightness should increase/decrease light
- Firewall should toggle on/off

[2015-11-24 07:21] Anachron commented on #1
Add rofi/dmenu launcher

[2015-11-26 06:37] Anachron commented on #1
- RSS reader (latest headline truncated, click opens browser to read)
- Countdown (Counts years/months/days/hours/minutes to a spefic datetime)

[2015-11-27 07:41] Anachron commented on #1
- SSID
- Notifications (Recent/Last) (requires dunst)

[2015-11-29 19:23] Anachron opened #8 "Add a scrot for every block as example"

[2015-11-29 19:59] #8 closed, assigned to nobody

[2015-11-30 10:07] Anachron commented on #4
This issue is fixed fow now.

[2015-11-30 10:07] #4 closed, assigned to nobody

[2015-11-30 17:04] Anachron commented on #1
- [ ] Capture (Area/Desktop, Movie/Screenshot)
- [ ] RecycleBin (Clean)

[2015-12-01 09:21] Anachron commented on #2
The i3blocks-contrib repo is not relevant anymore, as it's not focused on performance and bash.

[2015-12-01 09:22] #2 closed, assigned to nobody

[2015-12-01 09:23] Anachron opened #9 "Create a README.md with all blocks"
- [ ] What the command does
- [ ] Possible parameters/settings
- [x] Example usage
- [x] Example result: screenshots

[2015-12-21 11:43] Anachron opened #10 "Scroll block is urgent on cmus"
... when no song is playing

[2015-12-21 13:48] Anachron commented on #10
Fixed with https://github.com/Anachron/i3blocks/commit/866aaff5929737affcf2673e25dbeffa2c940b41

[2015-12-21 13:48] #10 closed, assigned to nobody

[2015-12-23 10:24] Anachron opened #11 "Add notification support for all blocks"
Check for existence of $BLOCK_NOTIFIER and if present, execute that script with args `$1=ScriptName, $2=Value, $3=ValueDescription`.

Host the script inside the additional repository at https://github.com/Anachron/i3scripts.

The notifier will normally notify when the value is not urgent (block will exist with `rc=0`).
Else the notifier will throw an urgent warning.

[2015-12-23 19:36] Anachron commented on #11
Fixed with the notifier-wrapper-block introduces in https://github.com/Anachron/i3blocks/commit/e43a31ad7cff5b52939768d978b55258e45e9f13.

[2015-12-23 19:36] #11 closed, assigned to nobody

[2015-12-24 13:04] Anachron opened #12 "Rework scroll-block to work as a wrapper"
So that either blocks or commands can be used.

[2015-12-25 11:06] Anachron opened #13 "Implement time limit for notifier-block"
So that blocks cannot send more than one notification every x seconds.
This is good for scripts that run often (wifi signal strength) and would spam the user with notifications.

Urgent: Notifications last 5 minutes, can be spawned every 5 minutes.
Normal: Notifications last 5 seconds, can be spawned every 10 seconds.
Low: Notifications last 5 seconds, can be spawned every 30 seconds.

[2015-12-27 12:53] Anachron commented on #12
Fixed in https://github.com/Anachron/i3blocks/commit/798fce47a7f0c0a58ec29df04d36fab7ff2d9917

[2015-12-27 12:53] #12 closed, assigned to nobody

[2015-12-27 12:58] Anachron opened #14 "Notifer block: Only run sub-block once every second"
This way performance will be improved.

[2015-12-28 20:34] Anachron commented on #9
@orestisf1993 it's probably good enough now to base your config scripts on this repo state. There have been a lot of changes lately and I improved documentation a lot. Give it a go and let me know!

[2016-01-03 08:50] Anachron commented on #13
This should be handled by the notification manager of the user, not by this program. (Example: dunst) Closing.

[2016-01-03 08:50] #13 closed, assigned to nobody

[2016-01-21 19:43] msvalina commented on #1
I would really appreciate keyboard layout indicator, thank you for your effort.

[2016-01-21 20:00] Anachron commented on #1
@msvalina thanks for your request! I will see what's the best way to archieve this and come back to you.

[2016-01-21 20:29] Anachron commented on #1
Hey @msvalina, I've added your request with the latest commit (https://github.com/Anachron/i3blocks/commit/5d45ed86a61f16097d4312a3ffd769b6937fc09d).
Are you using Arch Linux? Then it should work for you. If not please tell me which OS you are on so I might adjust the path for the keymaps.

[2016-01-21 21:23] Anachron commented on #1
@msvalina I've added another push (https://github.com/Anachron/i3blocks/commit/e873e6e0eb95a969a1f3023128c2e1d38bb6f9ef). Could you please test again?

[2016-01-21 22:38] msvalina commented on #1
I'm changing kb layout using alt+shift it is configured in x,
Seems like it is still not picking changes. Output of setxkbmap may help

[code]

[code]

[2016-01-21 23:00] Anachron commented on #1
@msvalina thanks for the information! I need to find a way how to figure out which of those layouts are active. I will tinker around with xserver and the localetools (locale, localectl, _xkb_ and similiar) and update it once I found a solution for this.

If you change your layout via "setxkbmap" it should work. But I am aware that it's much better to have a simple toggle via the kdbOptions.

[2016-03-04 21:18] windiean commented on #1
@Anachron @msvalina I have keayboard layout switch configured in X and I've been able to show the current layout easily using _xkb-switch_.
The script is something like this:

[code]

[2016-03-04 21:24] msvalina commented on #1
Wow thank you, this is great!

[2016-03-08 07:44] Anachron opened #15 "Outsource system information scripts"
This way they can be used without i3(blocks).

[2016-03-15 08:34] Anachron commented on #1
@windiean @msvalina I will take another look, sorry for the delay!

[2016-03-26 08:59] Anachron commented on #1
@msvalina @windiean little update:

So it seems like the command is in the AUR but does not come with x-client or x-server by default. https://aur.archlinux.org/packages/xkb-switch-git/ https://github.com/ierton/xkb-switch

I will install the program later and do some extensive testing. If it does not give any issues, I will base the keymap block on it. Thanks for your patience!

[2016-04-21 02:30] elhackerlibre opened #16 "I have a question CITY_ID and API_KEY?"
Hi.
I am using your scripts weather .
I think an excellent script.
but I have a question?
on the line:
id=${CITY_ID}&appid=${API_KEY}
I have to replace my CITY_ID by the city, and API_KEY , which has given me the site http://api.openweathermap.org ?
appreciate your help !

[2016-04-21 07:17] Anachron commented on #16
Hey @elhackerlibre it seems like they have changed their website!
Type in your city name here: http://openweathermap.org/
And then on the result page the weather id is in the URL.

Example for London:
http://openweathermap.org/city/2643743

So 2643743 is the city ID. The API_KEY you get when you register there.

[2016-04-21 08:10] elhackerlibre commented on #16
Thanks for taking the time to answer my question!
apology and ask again , but as I understand your explanation, the line is correct ?
id=${3647651}&appid=${b3ecc1d27d26504516947865a7bf1305}
No I did wrong? but the weather i3block , This shows me : **°C**
if I did something wrong please tell me!

[2016-04-21 08:17] elhackerlibre commented on #16
thanks for taking the time to answer me!
and understood how it works !
I have to add the API_KEY to escripts , then the ID_CITY instance my city in the blocks
example:
instance = 3647651
if you wrote the script , I congratulate you on this excellent work , it has worked very well so far

[2016-04-21 08:58] Anachron opened #17 "Screenshots!"
If you use these blocks I'd like to see some screenshots, so people can have an better idea on how these can look.

[2016-04-21 22:59] elhackerlibre opened #18 "Why when the weather up to 31 ° C the block changes the color black and white?"
Friend have a question ?
Why when the weather up to 31 °C the block changes the color assigned to another color , black and white? . But when the weather turns down the color assigned to it
You know why this problem happens?

[2016-04-21 23:19] Anachron commented on #18
Sure, it reaches default emergency value and changes to high priority blocks, which you have colored this way. You can change min_value and max_value accordingly in the script if you want to adjust or disable this feature!

[2016-04-21 23:19] #18 closed, assigned to nobody

[2016-05-17 06:04] Anachron commented on #16
I'll close this, please comment if you have further issues.

[2016-05-17 06:04] #16 closed, assigned to nobody

[2016-05-27 15:26] ghost opened #19 "Using 2 [mail] blocklets gives undesired output"
i3blocks.conf set up as such:

[code]

and

[code]

Where `home_unread.config` and `work_unread.config` are of the style:

[code]

[2016-05-27 15:28] ghost commented on #19
I also have unsecure apps turned on within gmail. The problem is, the amount of unread emails either `Home` or `Work` will show, never both at the same time. However, if I click on the one which is not showing (to open gmail in the browser) it suddenly switches and shows the number of unread emails:

![q9fviuc](https://cloud.githubusercontent.com/assets/3629138/15612774/0b8ea794-2428-11e6-829c-db5

[2016-05-27 15:51] Anachron commented on #19
Can you put the "- Home" inside " marks and try again?

[2016-05-27 16:05] ghost commented on #19
Same thing,
![2016-05-27-170439_226x21_scrot](https://cloud.githubusercontent.com/assets/3629138/15613770/2215c8c6-242d-11e6-9880-41f97d0ed368.png)

Then I click on "Home" and it magically shows 0

[2016-05-28 08:15] Anachron commented on #19
@WilkinsPhysics thanks, I will see if I can reproduce on my pc and I'll investigate.

[2016-06-01 21:54] dmfay opened #20 "packages count off by one"
I'm seeing one fewer package update reported from the blocklet than I am from pacman. Possibly pacman's output format changed since 97bddf9f832ab6d23991a4a5d619129a66b2b0bb such that it's no longer necessary?

[code]

[2016-06-02 21:44] Anachron commented on #20
Thanks for your bug report, I'm having some delay but don't worry I'll look into this soon.

[2016-06-08 07:44] Anachron commented on #20
Hey @dmfay I believe you are right, I'll send a patch along the way.

[2016-07-07 05:21] ghost opened #21 "Feed not showing latest update"
Minor issue, the feed block doesn't show the latest entry in the feed. For exampl,e looking at the example FEED_URL https://www.archlinux.org/feeds/news/ the block shows a much older entry "PHP 7.0 packages released" when it should should be showing "screen-4.4.0-1 unable to attach old sessions".
I'd do a pull request but found using RSStail to parse much easier. Great blocks. Thanks.
https://aur.

[2016-07-07 07:25] Anachron commented on #21
Hey @GoodMorningFuture! Thanks for your issue. I will try to find out why that is,- meanwhile I suggest to use rsstail as well, just found out about it yesterday!

[2016-07-08 22:42] GoodMorningFuture commented on #21
@Anachron It's `grep -v "xmlns:atom"` when that particular feed has "xmlns:atom" on the same line as the first entry.
[Tried hard to not rely on RSSTail but eventually I gave up because my "fix" broke other feeds. Here's what I came up with.](https://github.com/GoodMorningFuture/.config/blob/master/i3/blocks/feed)

[2016-07-09 07:37] Anachron commented on #21
@GoodMorningFuture hey mate, t hanks for the quick update! I will try to find a solution that wont need rsstail. It should be doable.

[2016-07-09 07:43] Anachron commented on #20
Hey mate, I sent a patch along the way!

[2016-07-09 07:43] Anachron commented on #20
Closing, if this occurs again, please reopen.

[2016-07-09 07:43] #20 closed, assigned to nobody

[2016-07-09 07:44] Anachron commented on #19
Sorry for the lack of participation for now, I am using BSPWM right now but I still want to maintain this repo as it grow in popularity quite much. Will try to get to this this weekend!

[2016-07-22 18:02] diffficult opened #23 "Package updates Blocklet counting error (off by one more)"
Checked a previous closed issue that made the blocklet return one more package than it supposed to.
In my case the package blocklet reads " 1" when `$ pacman -Qu | wc -l` actually returns "0".
Don't know if it has to do with changes on pacman, but undoing the changes to the last commit to the packages script makes the blocklet to not display anything at all.

[2016-07-22 21:43] Anachron commented on #23
Well that's weird. Why do some people experience this issue when before my fix and why others experience it after? Which version of pacman are you using?

[2016-07-22 21:55] diffficult commented on #23
Running 'Pacman v5.0.1 - libalpm v10.0.1' on Antergos. Yes, I thought it was weird too after I checked the previous closed issue and the modification you did to the script. Other than that it's running fine. I made a small modification and also added

[code]

at the end to open pamac-updater and wanted to get pamac-manager with middle click but for some reason middle click doesn't launch anything.

[2016-07-23 17:43] diffficult commented on #23
I made a modification to your script. I'm new to all this and was testing it yesterday after I posted. I used your script as base and read a little about to try to write a proper script.

What I got was this

[code]

It will check for the amount of packages you can update and if it is `=0` will display a green check mark (taken from FontAwesome) next to the label set in the i3blcoks.conf or just a

[2016-11-01 21:46] cmellwig opened #26 "cpu time of window block"
Hi,

your window block uses way too much cpu time due to the repeat interval. You should consider switching to xtitle with persistent interval.

[code]

[2016-11-04 18:04] bootzin opened #27 "Weather script not working"
It simply prints ºC, and not really any useful information

[2016-11-04 18:26] Anachron commented on #27
Maybe add your city so it can work? :D

[2016-11-04 18:30] bootzin commented on #27
I've added my city (It is the numbers on the url when you ckeck them on openweather, right?) and also created my own API ID, but still nothing

[2016-11-04 19:06] Anachron commented on #27
Uh okay, I will check whether the API has changed. Thanks for letting me know!

[2016-11-05 20:18] bootzin commented on #27
Ugh, nvm, I fiddled around the bash files and realized you used wget, and I only had curl installed

[2016-11-05 20:54] Anachron commented on #27
Alright, all good, thanks for letting me know!

[2016-11-07 07:32] #27 closed, assigned to nobody

[2016-11-07 07:33] Anachron commented on #26
Good idea,- my config was just an example though :)

[2016-11-09 10:19] Anachron commented on #19
I believe it has to do with the script only using one temporary file here: https://github.com/Anachron/i3blocks/blob/master/blocks/mail#L33

I will make use of mktemp (like I should have) and that should fix it. Thanks for your bug report, @WilkinsPhysics !

[2016-11-23 16:31] vKnmnn commented on #1
I'd like to add the suggestion of adding the instances Dirty and Writeback to the memory blocklet. I've tried to do it myself but I'm just not that familliar with bash. Dirty and Writeback are included in /proc/meminfo

regards

[2017-01-17 18:25] vKnmnn commented on #1
I use this block now. unless u give it an instance, it shows available memory. it works for every line that is provided by /proc/meminfo and is POSIX compatible ;)
[code]

[2017-01-17 18:41] vKnmnn commented on #1
@Anachron
As another suggestion:
Have a (wifi)block that alternates different infos to save space.
eg:
display SSID and dB for 2 sec,
display ipv4 for 2 sec,
display ipv6 for 2sec, if available

or a battery block:
display battery percentage
display time to fully charged/time left on batt

maybe this can be combined with the scroll feature?

[2017-02-04 21:40] h3ct0rjs commented on #1
@Anachron
Hi after checking your awesome blocks I would llike to suggest the support of LVDS displays in my case I use an old little laptop so [here](https://gist.github.com/h3ct0rjs/81c0381b8d880ca7949688f42a211631) is my simple version with works pretty well with my needs, I was just wondering if is there any posibility to clone the wallpaper that I set in my LVDS1 to my External VGA filling the

[2017-02-10 18:32] NullVoxPopuli opened #31 "where do I put these?"
how does i3blocks know where to find these scripts?

[2017-02-10 18:53] Anachron commented on #31
You put them in some folder and then set "command" of your `i3blocks.conf` to the location including blockname like here: https://github.com/Anachron/i3blocks/blob/master/i3blocks.conf#L28

[2017-02-10 18:58] NullVoxPopuli commented on #31
cool, thanks!

[2017-02-10 18:58] #31 closed, assigned to nobody

[2017-02-10 19:23] Anachron commented on #31
You are welcome!

[2017-02-27 02:05] KaosCreator69 opened #34 "No weather icon in from of temp"
This one is a doozie for me, oddly I have had this work on some of my laptops and others do not.
I feel there is something I do not have installed on some of the laptops.
Maybe it is related to where my font-awesome files are installed, doubt that thou.
I get the temp for my area and I have many keys, lol, many computers using your lovely stuff.
Do you have any thoughts?
I even went and copied ove

[2017-02-27 07:41] Anachron commented on #34
Do the other symbols work? Is the same font-awesome package installed in all of them?

It's good to check fc-list on every computer too, maybe that gives us a clue.

[2017-02-27 16:30] KaosCreator69 commented on #34
Same font-awesome package installed on all systems.
No issues with other font-awesome icons showing up on bar for volume, etc.
Just this darn weather script, I wonder if has something else to do with processing of it?

I ran in terminal i3blocks -c /home/kaos/.config/i3/i3blocks.conf and looking at the garble in there to see the difference, of coarse urxvt does not display font-awesome.

[2017-02-27 16:33] KaosCreator69 commented on #34
This is what I see in the one where it does not work, not sure this will help.

{"":"","full_text":" -8â","short_text":" -8â","color":"#E0E0E0","name":"weather","instance":"5990579","urgent":true}

[2017-02-27 16:49] Anachron commented on #34
All terminals are equal? All locals are equal?

[2017-02-27 17:19] KaosCreator69 commented on #34
DUDE! You NAILED IT!! locale was listing C and others
Did localectl set-locale LANG=en_US.UTF-8 and BAM! YOU DA'MAN!!
Of coarse I exited or rebooted and then logged back in to see it working.

Thanks again for all you do!

[2017-02-27 17:24] #34 closed, assigned to nobody

[2017-03-01 04:15] KaosCreator69 opened #35 "memory showing tb and icons only"
Hey me again, this time I have a need for keeping track of memory and swap. I've run everything as per your examples;
[memory]
command=~/.config/i3/scripts/memory
label=
instance=mem;free
interval=30

[memory]
command=~/.config/i3/scripts/memory
label=
instance=swap;total
interval=30

Made sure to chmod the memory script under scripts, but it will only show a value of tb.

Any ideas?

[2017-03-12 02:35] KaosCreator69 commented on #35
Anyone have an idea why I cannot get data to show, numbers representing the amount of memory and swap? instead of the letters 'tb' for both.

[2017-03-12 07:56] Anachron commented on #35
I'll see if I can reproduce and give you a reply.

[2017-03-14 17:40] KaosCreator69 opened #36 "ArhLinux Update IP not showing properly."
Did a recent update on my ArchLinux boxes and the IP address is showing 1000 not 192.168.*.*

[2017-03-14 21:06] KaosCreator69 commented on #36
NVM, fixed it myself.
Changed in ip-address scripts from;
$NF;
to
$(NF-2);
Ip address now showing correctly, after some update

[2017-03-14 21:06] #36 closed, assigned to nobody

[2017-03-20 02:53] sven1 opened #38 "firewall block"
did you edited the sudoers file (sudo visudo) to get "access" to ufw?
my only working "ugly" solution was to add this line
`${USER} ALL=(ALL) NOPASSWD: /bin/ufw status`

but i hate it to give the user some root privileges.. :(
what did you do to get this work?

[2017-04-09 14:27] hholst80 opened #39 "Bad visual behavior in default installation"
The default installation of i3blocks has a serious flaw, that its not keeping the alignment fixed. When Network traffic changes or other textfields changes the position of certain visual elements jumps around. This is very annoying. Certainly not what you would like to have as the default.

[2017-04-09 16:13] Anachron commented on #39
That's right, how would you suggest to fix this issue?

[2017-04-25 18:10] Anachron commented on #19
Sorry for delayed reply, can you change the intervals of one of them and try again? (something minor such as 59 is ok)

[2017-04-26 17:53] ralphee opened #41 "Bluetooth icon"
As soon as you turn off/toggle BT icon it disappears from status bar. Would be nicer in my view if the icon would be always visible in order to toggle /switch on / switch off at will. Also any chance if the BT icon could change to  or ...Thxs!

[2017-04-26 18:01] ralphee opened #42 "Brightness Not working"
unfortunately I cant the brightness block to work or display at all in the status bar. I have xorg-xbacklight installed & xrandr. If i can provide any further detailed information pls let me know. Thxs!

http://ix.io/rSk
http://ix.io/rSo

[2017-05-12 21:46] insuusvenerati commented on #35
Seems to be related to
[code]
in the memory script. When running the script in terminal I get
[code]

Running `sudo pacman -S bc` fixed the issue :P

[code]

[2017-07-03 22:53] harshsinh commented on #1
@Anachron, when using the i3blocks as you suggest, cpu usage would not be displayed although running the cpu file (./cpu) does print the cpu percentage. Can you please tell me what could be going wrong ?

[2017-08-13 23:34] 256k opened #43 "How to add them?"
Hey srry if this is a noob question but i am a noob indeed. was curious to know how to add these scripts,

I tried to cp  them into usr/share/i3blocks where i saw was the default ones but it gave me permission denied....

Some clarification would be great thanks.

[2017-08-14 21:09] zeljkobekcic commented on #43
You dont need to clone/copy them into /usr/share/i3blocks, I have cloned mine into ~/.config/i3blocks.
But this depends on what you want to do with these blocklets/scripts and this does not answer your question. You need to copy them with 'sudo', like 'sudo do-something'. If you really want/need to copy them into this directory is another question.

[2017-09-13 00:15] vKnmnn opened #44 "playerctl: fix block when process is not running"
Hi there.
The blocklet playerctl leaves (null) - (null) when spotify is not started and BLOCK_INSTANCE is set to spotify,
i think it should disappear, when spotify is not running.

i tried fixing it by adding
[code]
right after line 7, so the block disappears when spotify is stopped.
not tested with other instances

[2017-09-13 22:18] vKnmnn commented on #41
i tried doing this for you, but since the bluetooth command is in a package i don't have, and it's not listed as dependency, this goes as untested.
help me out and do the equivalent of `pacman -Qo /usr/bin/bluetooth`
anyways, this is the untested code, you can edit your desired icon by commenting the apropriate lines in the beginning. To keep the previous behaviour, just set `OFF=""`.
[code]

[2017-09-13 22:21] vKnmnn commented on #43
put them anywhere you want. i would suggest putting them in `$HOME/.config/i3blocks/blocks` but it doesnt really matter. Just give the absolute path (beginning with `/` in the `command=...` section of the blocks.

[2017-09-13 22:30] vKnmnn commented on #42
first of all, try running the block in a terminal, to see what it does, maybe it gives you an error message.
just navigate to the folder containing the block with your terminal and type `./brightness`. That should return a percentage value of your currently set brightness.
If there's nothing wrong here, good. But taking that the block doesn't appear in your bar means there's something wrong.
post

[2017-09-13 22:35] vKnmnn commented on #39
if you know your the maximum width that your traffic block puts out, and can spare a few pixels of your bar, you can add something to the block config to get rid of that behaviour, like i did for my clock, which kept realining the whole thing every minute at 11 seconds..
The line you need to add to your block in `i3blocks.conf`is `min_width="22:22:22"` and resetting that string to that very long o

[2017-09-13 22:37] vKnmnn commented on #35
if this is fixed, you should close the issue.

[2017-09-13 22:38] vKnmnn commented on #1
@harshsinh you should open a new issue for this

[2017-09-13 22:43] vKnmnn commented on #23
there is a very convenient tool that's a lot easier and safer to use. it's called `checkupdates` and it's part of pacman! it returns a list of outdated packages, which should be a lot easier to parse.

[2017-09-13 22:48] vKnmnn commented on #23
I wrote my own block for this, may this inspire you.
it depends on rofi , but you could change that. It also gets one color which depends on `wal` but thats even easier to edit. It's the `$white` one.
[code]

[2017-09-14 00:39] ralphee commented on #39
@vKnmnn epic will test in the morning... :sunglasses:

working like a charm

[2017-09-14 01:26] vKnmnn opened #46 "merging with vivien's i3blocks-contrib"
Hey @Anachron
What do you think about merging your blocks with the ones in vivien's repo. That would combine the two biggest collections of blocks into one source. I'm sure many people could benefit from that.
I would even work on it, provide screenshots, write readme's.
You might wan't to put some annotaion to your blocks, to link back to you or something.
If you don't care about it at all, i wil

[2017-09-14 01:39] ralphee commented on #46
Pretty much what I did... Git cloned both repos... 1+ to combine...

[2017-09-14 07:31] #42 closed, assigned to nobody

[2017-09-14 07:50] ralphee commented on #41
@vKnmnn thxs man.... `pacman -Qo /usr/lib/bluetooth'

using systemd for all my services now

[2017-09-14 11:02] #41 closed, assigned to nobody

[2017-09-14 11:13] vKnmnn commented on #39
Nice. As a side note:
When you open an issue on someones scripts, made in their own  spare time, you may want to address the issue in a nicer tone than you did here. That way you will more likely receive a positive answer.
Cheers.

PS: you should close the issue, when the problem has been fixed.

[2017-09-14 11:18] ralphee commented on #39
@vKnmnn chief...i didnt open the issue ...nonetheless it was driving my ocd into overdrive so thxs for the tip...greatly appreciated..

[2017-09-14 11:25] vKnmnn commented on #39
My apologies to you then, @ralpheee88, I was not paying attention to the names. Have a nice one

[2017-09-14 13:35] insuusvenerati commented on #35
@KaosCreator69

[2017-09-14 20:17] ralphee commented on #39
@vKnmnn chief ...can you pls confirm with the minimum width for the bandwidth block the auto hide feature does not work when there is no connection?

[2017-09-14 22:21] vKnmnn commented on #39
sorry, what do you want to know?
i just enabled the bandwidth block, `instance=down`, `min_width="______"` and disconnected from wifi. the block stays where it is and the min_width setting is still respected. what behavior do you expect?

[2017-09-14 22:25] ralphee commented on #39
@vKnmnn thxs for testing!!! I could be mistaken but if there is no internet connection and min width is not set i believe there should be an auto hide function...(hope that makes sense)

(the minimum width makes the notifications persistent)

[2017-09-14 22:31] vKnmnn commented on #39
Do you want the block to disappear, when you are disconnected from wifi?
Or do you want the block to disappear, when it shows 0b? (which might happen, even when you are connected)
The min_width setting has nothing to do with this.

[2017-09-14 22:35] ralphee commented on #39
@vKnmnn yeah ideally i would like the block to disappear when there is inactivity after a few seconds

[2017-09-14 22:41] vKnmnn commented on #39
that would probably take some rewriting. since i'm not using the bandwith block, i won't do it for you, but scripting is not that hard, so you could learn it yourself.
realistically, the throughput of a network interface doesn't stay at 0 for long, at any time, anyways. You should be able to see that in your block.
Making the block disappear, on disconnect is rather easy. would you like help with

[2017-09-14 22:42] vKnmnn commented on #39
you see, the block script is run every second, so it is hard to keep track on how long throughput has been zero

[2017-09-14 22:45] ralphee commented on #39
@vKnmnn thxs for the insight! making the block disappear on disconnect would be a good compromise. If and whenever you have time your help would be greatly appreciated!

[2017-09-14 22:51] vKnmnn commented on #39
alright. so i will find a command which output tells me, that wifi is disconnected. i'll check that variable in the beginning of the script, and just let the block exit without giving any output. that way, the block should disappear.

are you using wireless? wireless only or do you use both wifi and LAN
?

[2017-09-14 22:54] ralphee commented on #39
@vKnmnn cant thank you enough...ironically i like to have a clean status bar

[2017-09-14 23:00] vKnmnn commented on #39
which device are you running the blocks on? wireless, wired or both? i need to know which ones. they go by names like wlp2s0 (wireless) enp0s3 (wired).
(find out with `ip link`)

[2017-09-14 23:06] ralphee commented on #39
@vknmnn wlp4s0 & enp0s31f6

[2017-09-14 23:28] vKnmnn commented on #39
alright. just add this right after the first if-clause.
[code]
the first if-clause checks, whether you can reach googles dns server 8.8.8.8.
If you can't, the variable INTERFACE will be an empty string.

in this if clause, we check, if the string really is empty, and if it is, we just kill the script, so it will not output anything else.
have fun with it.

[2017-09-15 06:34] ralphee commented on #39
Superstar...will have a crack and let you know...

really small glitch... when not connected it shows one output/input of the block (not sure which one)

![imgur-2017_09_15-08 55 04](https://user-images.githubusercontent.com/8269794/30470274-51eca626-99f4-11e7-9780-3bec15e72681.png)

My apologies ...i had a typo...its working beautifully...Thxs!!!

[2017-09-18 07:31] Anachron opened #47 "I need your help!"
So lately I've switched to wmutils so I would like to give this project to the Community.
Who is interested here in maintaining the repo in the future?

Ping @hholst80 @vKnmnn @sven1 @KaosCreator69 @cmellwig

[2017-09-18 07:33] Anachron commented on #46
Hey @vKnmnn @ralpheeee88 good idea, I will open an issue on vivien.

[2017-09-30 18:05] vKnmnn commented on #47
I think i can do it, if vivien doesn't want to merge. Have you already contacted him?

[2017-10-03 07:16] MarwanG opened #48 "Help !!"
I know the problem is from my PC, but suddenly I cant see any of the logos properly even on my navigator when I check the github page. Can anyone help me or atleast tell me what I should look at

Thanks,
Marwan

[2017-10-03 10:10] Anachron commented on #48
Logos? Are you talking about the icons or about images?

If its about the icons:
Did you update your fonts recently or remove any of them?

[2017-10-03 22:39] ralphee opened #49 "feature request scaling governor"
was wondering if its possible to have a block indicating which cpu Scaling governor is currently active....

[https://wiki.archlinux.org/index.php/CPU_frequency_scaling#Scaling_governors](url)

[2017-10-19 14:10] simonszu opened #50 "weather script: Faulty grep ranges"
Hi,

i didn't get the weather block to work, so i tried to execute it manually. This resulted in the following output:

[code]

The grep error roughly translates to "The end of the given interval is invalid" or something. Is this the intended behavior?

[2017-11-05 19:32] abelncm opened #51 "Showing symbols instead of Icons"
Icons are not showing, instead there are character symbols.
How do I get it to work? Is there a specific font that I have to use in i3 config file?

[2017-11-05 20:34] Anachron commented on #51
Yes font awesome! Any recent version should work:

[2017-11-25 11:53] IAM-marco commented on #1
@Anachron would it be possible to make `scroll` script scroll text only if needed? Right now it scrolls even if there's more than enough space to fit the input text. I can't find what to change to do so..

[2017-12-18 10:58] batmanm0b1E opened #52 "help with webcam script"
I'm trying to use your webcam script on i3blocks, nothing is showing up if you can help me out Thank you

[2017-12-31 08:49] YodaEmbedding opened #53 "Weird block space characters after ttf-font-awesome characters"
It looks like spaces (0020) are being poorly displayed:

![i3blocks](https://i.imgur.com/pe5x3Ic.jpg)

I'm guessing this comes with the recent update to `ttf-font-awesome`. The reason I raised this issue here is because vim and Sublime Text seem to be displaying the font correctly:

![vim](https://i.imgur.com/gAzXXi8.jpg)
![subl](https://i.imgur.com/wAjiVmv.jpg)

i3 config:

[code]

i3blocks confi

[2017-12-31 22:41] 0x6C38 commented on #53
Same issue after update

[2018-01-08 00:15] batmanm0b1E commented on #52
Still need help please?

[2018-01-08 07:46] Anachron commented on #52
I'm sorry I forgot about this.

I am guessing your webcam device is not /dev/video0.

https://github.com/Anachron/i3blocks/blob/master/blocks/webcam

You will have to replace it with your appropiate device path.

[2018-01-08 07:48] Anachron commented on #53
That's weird, does "fp-cache -f" do any change? (run as admin)

[2018-01-08 07:48] Anachron commented on #50
Nope, weird. I'll see if I can replicate.

[2018-01-11 09:31] YodaEmbedding commented on #53
`sudo fc-cache -f` doesn't seem to have any effect.

[2018-01-11 11:45] Anachron commented on #53
The weird thing is I cannot reproduce this on `Void Linux` (glibc).
If you specify two fonts (fallback font like "Ubuntu Mono, Source Code Pro" or alike), does the problem still appear?

[2018-01-12 02:17] YodaEmbedding commented on #53
I tried the following `i3config` configurations:

[code]

But none of them fixed this issue. I am using the [`i3-wm`](https://www.archlinux.org/packages/community/x86_64/i3-wm/) and [`i3blocks`](https://www.archlinux.org/packages/community/x86_64/i3blocks/) packages for Arch.

[2018-01-26 06:25] chrisdruta commented on #53
Find a solution yet? I'm running i3-gaps with i3blocks on arch as well.

[2018-01-26 07:08] Anachron commented on #53
I saw issues like this on the font-awesome repo issues. Can you report upstream?

[2018-01-29 19:44] pree commented on #53
Found a Topic on the Archlinux Forums about this: https://bbs.archlinux.org/viewtopic.php?id=233098

Uninstalling `ttf-font-awesome` and installing `otf-font-awesome` worked for me.

[2018-01-30 04:48] YodaEmbedding commented on #53
This issue can be closed. (Though, I suppose for now that it might be better to leave open for visibility.)

Quoting [@ael](https://bugs.archlinux.org/task/56899#comment165101):

[2018-01-30 06:45] #53 closed, assigned to nobody

[2018-03-25 11:54] thyeun opened #54 "Report : weather script missing out "thunderstorm""
i'm new to this, so anyone that maintain the script, hope you can add "thunderstorm" into the script, so that it will benefit to others users that need it.

add this
[code]

[2018-06-19 12:30] Anachron commented on #47
So there was no reply in https://github.com/vivien/i3blocks/issues/290 and I think this repo really needs some maintainers shortly.

@hholst80 @vKnmnn @sven1 @KaosCreator69 @cmellwig anyone still interested?

[2018-06-19 13:48] vKnmnn commented on #47
i think i can do it

[2018-08-13 10:48] Anachron commented on #47
I'll look for an appropiate license and let the community handle further changes. Stay tuned.

[2018-08-27 09:40] ajeetdsouza commented on #47
I don't mind either. I already have a fork of it, although I use it for different purposes (dynamic battery icons and the like).

[2018-09-10 01:00] wizofe commented on #47
I am happy to (co) maintain this :) Great job by the way.

[2018-11-15 17:33] vKnmnn commented on #49
put this as your command in a block: `cpupower frequency-info | grep "may decide which speed to use" | awk  '{ print $3 }' | tr -d \"`

[2019-01-29 13:42] yuceltoluyag commented on #52
` line 12: syntax error near unexpected token `else'
`

[2019-03-05 14:07] Anachron commented on #47
@wizofe @vKnmnn  sorry for the long delay. If any of you still wants the ownership I'll gladly transfer it today.

[2019-03-12 23:14] vKnmnn commented on #47
sure, go ahead :)

[2019-10-18 09:18] vKnmnn commented on #49
@ralphee, if this has solved you request, please consider closing this issue.

[2019-10-18 09:25] vKnmnn commented on #47
There has been a reply to vivien/i3blocks#290
Are you going to transfer ownership soon, @Anachron ?

[2019-10-18 09:52] Anachron commented on #47
I've created an issue at https://github.com/vivien/i3blocks-contrib/issues/169 but it seems like each and every block has to manually be added using a PR and I'm not willing to put so much work into something I don't use. So I guess I'll rather transfer ownership.

Edit:
I've granted access to @vKnmnn, everyone else who is still interested in maintaining this collection can reply and I'll grant ac

[2019-10-18 10:01] Anachron commented on #46
Sadly this didn't went too well, closing it for now.

https://github.com/vivien/i3blocks-contrib/issues/169

[2019-10-18 10:01] #46 closed, assigned to nobody

[2019-10-18 10:05] Anachron commented on #38
Yes, that is exactly what I had to do.

I'm using this `pgrep -f ^ufw > /dev/null` nowadays which doesn't need root permissions.

[2019-10-18 10:24] #49 closed, assigned to nobody

[2020-01-30 23:17] #44 closed, assigned to nobody

[2020-02-08 12:41] #43 closed, assigned to nobody

[2020-02-08 12:42] #48 closed, assigned to nobody

[2020-02-08 12:46] vKnmnn commented on #54
closing this, because ghost has added the lines in the weather block

[2020-02-08 12:46] #54 closed, assigned to nobody

[2020-02-08 13:09] vKnmnn commented on #51
You just have to have installed the fonts. you do not need to add them to your config.
good fonts are font awesome and symbola.
closing this due to age.

[2020-02-08 13:09] #51 closed, assigned to nobody

[2020-02-08 13:16] vKnmnn commented on #50
it's possible that you have a different flavor of grep installed. are you on a mac possibly, or bsd or something esoteric?

[2020-02-08 13:16] #50 closed, assigned to nobody

[2020-02-08 13:18] vKnmnn commented on #39
gonna close this

[2020-02-08 13:18] #39 closed, assigned to nobody

[2020-02-08 13:24] #38 closed, assigned to nobody

[2020-02-08 13:25] #35 closed, assigned to nobody

[2020-02-08 13:26] #19 closed, assigned to nobody

[2020-02-08 13:29] #26 closed, assigned to nobody

[2020-02-08 13:35] #23 closed, assigned to nobody

[2020-02-08 13:36] #52 closed, assigned to nobody

[2020-02-20 15:09] brunetton commented on #17
This issue should be closed as screenshots have been added

[2020-02-20 15:22] #17 closed, assigned to nobody

[2020-02-20 15:50] brunetton commented on #47
I'm in :) Not sure to be super reactive, but I can help

[2020-03-30 12:59] iAmG-r00t opened #58 "Firewall block"
Hey the firewall status can't be seen, how do I fix that I am new at i3blocks, but I know ufw requires root permission. I have tried to understand the firewall scritp in the blocks directory but I am lost kindly assist.

[2020-03-30 18:20] vKnmnn commented on #58
Hi. If you had searched the issues for the word firewall you would have found #38  ;)

There's a hint on how to solve it there.
Let me know if you need more help.

[2020-03-30 20:39] iAmG-r00t commented on #58
Hey I did see that, you told him that nowadays you use pgrep -f ^ufw > /dev/null, and I have placed that in the command section but still it doesn't work kindly assist

[2020-03-30 20:40] iAmG-r00t commented on #58
Kindly give me some other clue that won't make me edit my sudoers file

[2020-03-30 20:49] vKnmnn commented on #58
take a look at commit b6e5805

[2020-03-31 00:14] iAmG-r00t commented on #58
Okay thanks for that, I would request you to add this on the readme for the people who will be interested to make it work without having to make the system more insecure. To add this line to the '/etc/sudoers' file it will allow the command sudo ufw status to be ran without any password on that host and by that specific user only.

# Enable this command to run without sudo password
$USER $HOST = (

[2020-03-31 00:14] #58 closed, assigned to nobody

[2020-06-15 13:31] ghost opened #59 "$BLOCK_BUTTON in blocks/scroll"
Scrolling works pretty well but block button actions are not functioning. A click on the scrolling block does not get passed to the subscript.

[2020-06-17 06:52] vKnmnn commented on #59
That is weird. In my understanding the Variables in the scroll script's environment should get passed to the subprocess it's invoking, right?

I will see if i can find out what's wrong. What Block are you using scroll on?

[2020-06-17 07:44] vKnmnn commented on #59
Right, so according to Vivien's documentation, this is intended behaviour of the usage of the repeat interval.

You can set the interval to 1 instead of repeat and have the block-buttons work. Obviously the scrolling effect will be much slower.

Maybe you can ask in the i3blocks-contrib [Repo](https://github.com/vivien/i3blocks-contrib) how to do work around the limitation.

[2020-06-17 07:44] #59 closed, assigned to nobody

[2020-12-02 17:46] bergsm opened #60 "Cloudy vs Partly Cloudy"
Currently there is not distinguishing between cloudy and partly cloudy, the script uses the cloudy icon for any weather report with the word cloud in it, even if there are few clouds.

[2020-12-03 09:22] vKnmnn commented on #60
could you compile a list of the other strings you get with "cloudy" in them? Please give an example what the 'weather report' looks like, so i get an idea how to fix this.

[2020-12-08 17:22] bergsm commented on #60
Hey vKnmnn,

Thanks for your response! I went ahead and looked into openweathermap api a bit more, and discovered all of the possible condition codes that can be returned as well as a list of available icons provided by openweathermap. You can check out the list [here](https://openweathermap.org/weather-conditions#Icon-list). It may allow for easier development as well using the condition codes ra